@import './variables';

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 210px;
  
  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > h1 {
      text-align: left;
      line-height: 1.6;
      margin: 0 0 72px;
    }

    & > p {
      font-size: 20px;
      letter-spacing: 0.35px;
      margin: 0;
      line-height: 2;
      color: $brown-grey;
    }
  }

  & > img {
    width: 524px;
    height: 355px;
    margin-left: 148px;
  }
}

.member {
  & > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 64px;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:nth-child(1) {
        margin-right: 40px;
      }
    }
  }
}

.card {
  width: 384px;
  height: 628px;
  margin-top: 64px;
  padding: 70px 74px 0px;
}

.award {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > span:nth-child(1) {
      margin-right: 40px;
    }
  }

  & > .awardCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 974px;
    height: 2540px;
    margin-top: 64px;
    padding: 70px 112px;

    & > h2 {
      width: 100%;
      text-align: left;
      font-family: 'NanumSquareRound';
      font-size: 30px;
      font-weight: 800;
      letter-spacing: 0.53px;
      color: $macaroni-and-cheese;
      margin: 0 0 40px 0;
    }

    & > div {
      display: flex;
      flex-direction: row;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.39px;
      width: 716px;
      margin-bottom: 28px;

      & > p {
        margin: 0;
        color: $black;
      }

      & > span {
        color: $brown-grey;
        margin-left: 12px;
      }
    }
  }
}

.portfolio {
  & > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1312px;
    margin: 0px auto;

    & > div {
      margin-right: 40px;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}