@import 'variables.scss';

.portfolio {
  width: 298px;
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
  border-radius: 40px;

  img {
    border-radius: 40px;
  }

  & > h4 {
    margin: 32px 0px 12px;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: $black;
    text-align: center;
  }

  & > span {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: $brown-grey;
    text-align: center;
  }
}